{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>OSA - Login </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />  
    <!-- Google Fonts: Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">]

    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
</head>

<body>

    
<!-- lEFT PANEL -->
<div class="container">
    <div class="left-panel">
        <h1><b>Technological University of the Philippines - Cavite</b></h1>
        <p>Office of Student Affairs</p>
    </div>

    
<!-- RIGHT PANEL -->
    <div class="right-panel" >
        <div class="login-form" >
           <img src="{% static 'myapp/images/logo.png' %}" alt="TUP Logo" class="img-fluid me-2 logo-img">
           <h3 class="text-center" ><b>Welcome Admin!</b></h3>
            <p class="text-center">Sign in to access your dashboard</p>
                            
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    

                    <!-- USERNAME -->
                    <div class="form-group icon-input">
                        <i class="bi bi-person-fill"></i>
                        <input type="text" id="username_login" placeholder="Enter your Username" name="username" required>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-group icon-input">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" id="password_login" placeholder="Enter your password" name="password" required>
                    </div>

                    <!-- FORGOT PASSWORD -->
                    <div class="form-options">
                        <a href="{% url 'client_home' %}" id="forgotpass_login"class="forgot-link">Forgot password?</a>
                    </div>

                    <!-- LOGN IN BTN -->
                    <button type="submit" id="login_btn" class="btn">Sign In</button>
                    <hr>
                    <a href="{% url 'client_home' %}" class="back-link">&larr; Return to Home</a><br>
                    <a href="{% url 'guard_violation' %}" class="back-link">&larr; Guard</a><br>
                                        <a href="{% url 'guard_violation' %}" class="back-link">&larr; Admin</a>
                </form>

        </div>
    </div>
</div>

</body>
</html>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
